<!doctype html>
<html lang="en" data-theme="dark" class="dark">
    <head>
        <% if (mode === 'development') { %>
            <script src="https://unpkg.com/react-scan/dist/auto.global.js"></script>
        <% } %>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" href="/cuzbangs.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="cuzbangs. cuz it bangs" />
        <meta name="theme-color" content="#ffffff" />
        <link rel="apple-touch-icon" href="/cuzbangs.png" />
        <title>cuzbangs. cuz it bangs</title>
    </head>
    <body>
        <div id="root"></div>
        <script type="module" src="/src/main.tsx"></script>
    </body>
</html>
